.title {
    color: #fff;
    margin-bottom: 70px;
    text-transform: uppercase;
    text-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  }
  .text {
    max-width: 195px;
    line-height: 1.74;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  }